.infopage{
    background-image: linear-gradient(45deg, #ADDDD0, white);
    height: 100vh;
}
.forms{
    width: 30%;
    height: 500px;
    display: inline-block;
    position: absolute;
    margin: 10px 5px 10px 20px;
}
.submitinfo{
    float: right;
    margin-top: 5px;
}
.buttons{
    display: flex;
    justify-content: center;
}
.reservations{
    float: right;
    margin-right: 20px !important;
    width: 65%;
    height: 500px;
    margin: 10px 10px 10px 5px;
}
.scrollable::-webkit-scrollbar {
    display: none;
}
.scrollable{
    margin-top: 15px;
    padding:4px;
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}